@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville&display=swap');

:root {
    --primary-color: #023047;
    --secondary-color: #219EBC;
    --accent1-color: #8ECAE6;
    --accent2-color: #FFB703;

    --heading-font: 'Fjalla One', sans-serif;
    --paragraph-font: 'Libre Baskerville', serif;

    --nav-background-color: #023047;
    --nav-link-color: #FFB703;
    --nav-hover-link-color: #8ECAE6;
    --nav-hover-background-color: #023047;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color)
}

p{
    padding: 5px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


/* this is the background hero image*/

.hero {
	position: relative; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 100px;
    left: 400px;
    color: white;
}

article img{
	position: absolute;
    float: right;
    left: 700px;
    top: 200px;
    width: 225px !important;
    height: auto !important;
    padding: 20px;
}

.overlay p{
    position: absolute;
    top: 220px;
    color: white;
    padding: 20px;
    width: 600px;
    left: 90px;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr; /* first column auto to fit the logo, second column 1fr to take up the remaining space */
    align-items: center; /* vertically center the content */
  }
  
  
  .nav-menu {
    text-align: right; /* align the menu items to the right */
  }
  
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-menu li:last-child {
    margin-right: 0; /* remove margin from the last menu item */
  }
  
  .nav-menu a {
    color: #000;
    text-decoration: none;
  }
  
  .history {
    display: grid;
    text-align: center;
  }

  /* History section grid */

  .history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns: 1st and 3rd columns take up equal space, 2nd column auto to fit the image */
    grid-gap: 20px;
    align-items: center;
  }
  
  .history-text-left, .history-text-right {
    text-align: justify;
  }
  
  .history h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .history p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  
  .history-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .history-image img {
    max-width: 80%;
    height: auto;
  }

  header, .grid, footer, body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.hero h2 {
    text-align: center;
}

/* Figure styles */


.figure {
    border: thin #c0c0c0 solid;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    flex-flow: row;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    align-items: center;
}

.figure img {
    max-width: 220px;
    max-height: 150px;
}

.figure figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

