@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Roboto Mono;
    font-size: 18px;
    color: #313131;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 28px;
    color: rgb(240, 143, 64);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(240, 143, 64);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: rgb(240, 143, 64);
    font-size: 1.3em;
    text-align: center;
}

label, input, button, select, textarea {
    font-family: Roboto Mono, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: rgb(240, 143, 64);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(44, 190, 44);
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.expandable-textbox {
    resize: vertical; 
    height: 150px;
  }

  .grey-box {
    background-color: #414141;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  